<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task manager</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
      <div class="w-full h-screen bg-zinc-900 p-10 gap-5 flex flex-col justify-center items-center text-white">
        <h1 class="text-3xl">Task Manager</h1>
        <form action="/create" method="post" class="flex flex-col w-1/3 gap-5 px-5 py-5">
            <input  class ="block px-5 w-full rounded-md outline-none py-2 bg-zinc-800 text-white" required type="text" name="title" placeholder="Write your title">
            <textarea class ="block px-5 w-full rounded-md outline-none py-2 bg-zinc-800 text-white" required type="text" name="details" rows="10" placeholder="Write your task"></textarea>
            <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md" required type="submit" value="Create task">
        </form>
           
      </div>
</body>
</html>